.form__submit-button {
  display: block;
  width: 100%;
  padding: 16px;
  margin-top: 32px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.2;
  transition: opacity .2s ease-in-out;
}

.form__submit-button:hover {
  opacity: .8;
}

.form__submit-button:focus {
  outline: none;
}

@media screen and (max-width: 550px) {
  .form__submit-button {
    padding: 12px;
    margin-top: 20px;
    font-size: 14px;
  }
}