.form__title {
  margin: 0 0 40px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

@media screen and (max-width: 550px) {
  .form__title {
    font-size: 18px;
    margin-bottom: 24px;
  }
}