@import url(__logo/header__logo.css);
@import url(__underline/header__underline.css);

.header::after {
  content: '';
  display: block;
  height: 1px;
  margin-top: 40px;
  background-color: #545454;
}

.header__container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "additional-panel additional-panel"
  "logo main-panel";
  align-items: center;
}

.header__logout-container {
  grid-area: additional-panel;
  display: flex;
  justify-self: center;
}

.header__link {
  grid-area: main-panel;
  justify-self: end;
  color: #fff;
  text-decoration: none;
}

.header__hamburger-button {
  grid-area: main-panel;
  justify-self: end;
  width: 24px;
  height: 21px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../../images/hamburger-icon.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .header__container {
    padding: 0 27px;
  }
}


@media screen and (max-width: 550px) {
  .header::after {
    margin-top: 32px;
  }
}