@import url(__close-button/form__close-button.css);
@import url(__input/form__input.css);
@import url(__input/_invalid/form__input_invalid.css);
@import url(__submit-button/form__submit-button.css);
@import url(__title/form__title.css);
@import url(__error/form__error.css);
@import url(__submit-button/_disabled/form__submit-button_disabled.css);

.auth-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 2*40px);
  width: 430px;
  margin: 0 auto;
}

.form {
  flex: 1 0 auto;
  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form_theme_light {
  background-color: #fff;
  border-radius: 10px;
}

.form_theme_dark {
  background-color: transparent;
}

.form__title_theme_light {
  color: #000;
}

.form__title_theme_dark {
  color: #fff;
}

.form__input_theme_light {
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.form__input_theme_dark {
  color: #fff;
  background-color: #000;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.form__submit-button_theme_light {
  background-color: #000;
  color: #fff;
}

.form__submit-button_theme_dark {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 550px) {
  .form {
    padding: 30px 20px;
  }
}